body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}
.name_highlight{
    color: rgba(69, 226, 226, 0.89);
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 15px;
    border-radius: 6px;
    color: white;
    font-weight: 400;

}


.dream-area{

    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;


}

.exp-hightlight{
    color: rgba(44, 133, 248, 0.897);
}



.single-exp{

    box-shadow: 10px 10px 50px grey;
    height: 80%;
    border-radius: 15px;
    background-color: whitesmoke;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
     
}

.skill-status{
    color: darkcyan;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: darkolivegreen;
}